#logo-container {
  display: flex;
  align-items: flex-start;
  height: 50px;
  flex-direction: column;
  transition: filter 0.3s ease, transform 0.3s ease;
}

#logo-container:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

#logo-title {
  font-family: "RobotoMono", sans-serif;
  font-weight: medium;
  font-style: medium;
  font-size: 30px;
  margin-bottom: -10px;
  text-decoration: none !important;
  transition: color 0.5s ease;
}

#logo-sub {
  font-family: "RobotoMono", sans-serif;
  font-size: 12px;
  text-decoration: none !important;
  margin-bottom: 0px;
  transition: color 0.5s ease;
}
