
.nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0 1rem;
}

.nav img{
    transition: filter 0.3s ease, transform 0.3s ease;
}
.nav img:hover{
    filter: brightness(1.2); /* Lighten the image */
    transform: scale(1.1); /* Magnify the image */
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
}

.wordLink {
    color: #0927eb !important;
    font-size: 20px;
    font-family: "RobotoMono", sans-serif;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
  
.wordLink:hover {
    color: #6a98f0 !important;
    transform: scale(1.1);
    text-decoration: underline;
}

.wordLink:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    color: #0927eb;
    transition: width 0.3s ease;
}
  