.nav-background {
  transition: background-color 0.3s ease, height 0.3s ease; 
  padding: 0;
  margin: 0;
}
  
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  gap: 2rem;
  padding-top: 15px;
  margin: 0 80px; /* Center the navbar */
}
  
.nav img {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.nav img:hover {
  filter: brightness(1.2); /* Lighten the image */
  transform: scale(1.1); /* Magnify the image */
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
}

.wordLink-default, .wordLink-white {
  font-size: 16px;
  font-family: "RobotoMono", sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
}

.wordLink-default {
  color: var(--dark-blue) !important;
}

.wordLink-white {
  color: var(--default-bg) !important;
}

.wordLink-default:hover {
  color: var(--dark-blue) !important;
  transform: scale(1.1);
}
.wordLink-white:hover {
  color: var(--default-bg) !important;
  transform: scale(1.1);
}

.wordLink-default:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--dark-blue); /* Adjusted to background color */
  transition: width 0.3s ease;
}

.wordLink-white:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--default-bg); /* Adjusted to background color */
  transition: width 0.3s ease;
}

.info-container{
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
  transition: filter 0.3s ease, transform 0.3s ease;
  margin: 40px 80px;
}

.header{
  font-family: "Argesta", sans-serif;
  font-size: 50px;
  color: var(--default-bg) !important;
}

.caption{
  font-family: "RobotoMono", sans-serif;
  font-size: 20px;
  color: var(--default-bg);
  width: 55%;
}


#link-bubble {
  background-color: var(--default-bg); /* Background color of the bubble */
  border-radius: 50px; /* Border radius to create rounded corners */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
