:root {
  --dark-blue: #0927eb; 
  --default-bg:#F5F5F5;
  --light-blue: #6a98f0;
  --med-gray: #7d7f7c;
  --nasa: #03112C;
  --rela: #212529;
  --ta: #6CADDE;
  --text-color: #212529;
  --step-it-up: #03313d;
}

@font-face {
  font-family: "Argesta";
  src: local("Argesta"), url("./assets/fonts/Argesta.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono";
  src: url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("./assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: medium;
}

body {
  background-color: var(--default-bg);
  height: 100vh;
}

.custom-body{
    margin: 15px 80px !important; 
    padding-bottom: 50x;
}
