:root {
  --dark-blue: #0927eb; /* Define a root variable for primary color */
  --light-blue: #6a98f0;
  --med-gray: #7d7f7c;
  --nasa: #0A3B8D;
}

@font-face {
  font-family: "Argesta";
  src: local("Argesta"), url("./assets/fonts/Argesta.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono";
  src: url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("./assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: medium;
}

body {
  background-color: #F5F5F5 !important;
  margin: 0 80px !important; 
}
